@using System.Net.Http.Headers
@using InstanceManager.Host.WA.DAL
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Orientation=Microsoft.FluentUI.AspNetCore.Components.Orientation

<AuthorizeView>
    <Authorized>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
            <FluentButton IconStart="@(new Size24.SignOut())" OnClick="BeginSignOut">
                Log out
            </FluentButton>
            
            <div style="">
                <FluentPersona ImageSize="32px" Name="@context.User.Identity?.Name" Image="@_photo" />
            </div>
        </FluentStack>
    </Authorized>
    <NotAuthorized>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
            <FluentButton Appearance="Appearance.Accent" OnClick="BeginSignIn">Log in</FluentButton>
        </FluentStack>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]    
    NavigationManager Navigation { get; set; } = null!;
    
    [Inject]
    IAccessTokenProvider TokenProvider { get; set; } = null!;
    
    [Inject]
    InstanceManagerHttpClient HttpClient { get; set; } = null!;

    [Inject]
    ILogger<LoginDisplay> Logger { get; set; } = null!;

    private string? _photo;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetUserPhoto();
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Error fetching user photo");
        }
    }

    private async Task GetUserPhoto()
    {
        var response = await HttpClient.Client.GetAsync("https://graph.microsoft.com/v1.0/me/photo/$value");

        if (response.IsSuccessStatusCode)
        {
            var stream = await response.Content.ReadAsStreamAsync();
            var bytes = new byte[stream.Length];
            await stream.ReadExactlyAsync(bytes, 0, (int)stream.Length);
            _photo = $"data:image/jpeg;base64,{Convert.ToBase64String(bytes)}";
        }
    }

    private void BeginSignOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    private void BeginSignIn()
    {
        Navigation.NavigateTo("authentication/login");
    }
}
