@page "/"
@using InstanceManager.Application.Contracts
@using InstanceManager.Application.Contracts.Common
@using InstanceManager.Application.Contracts.Modules.ProjectInstance
@using Radzen.Blazor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<button @onclick="SendTestRequest">Hello</button>

<RadzenButton Click="SendTestRequest">test btn</RadzenButton>

<StandaloneCodeEditor
    Id="my-editor-id"
    CssClass="editor-class"
    ConstructionOptions="EditorConstructionOptions"
    @ref="EditorRef" />

@code {
    [Inject]
    protected IRequestSender RequestSender { get; set; } = null!;

    protected  List<ProjectInstanceDto>ProjectInstances { get; set; } = new(); 
    
    private StandaloneCodeEditor EditorRef { get; set; }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            Language = "json",
            GlyphMargin = true,
            Value = System.Text.Json.JsonSerializer.Serialize(ProjectInstances, new System.Text.Json.JsonSerializerOptions { WriteIndented = true })
        };
    }

    private async Task SendTestRequest(MouseEventArgs arg)
    {
        var result = await RequestSender.SendAsync<PaginatedList<ProjectInstanceDto>>(new GetProjectInstancesQuery());
        ProjectInstances = result.Items;
        await EditorRef.SetValue(System.Text.Json.JsonSerializer.Serialize(ProjectInstances, new System.Text.Json.JsonSerializerOptions { WriteIndented = true }));

        _ = 1;

        return;
    }
}
