@page "/instances"
@using InstanceManager.Application.Contracts.ProjectInstance

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <h3 style="margin: 0;">Project Instances</h3>

    <FluentButton Appearance="Appearance.Accent" 
                  IconStart="@(new Icons.Regular.Size20.Add())"
                  OnClick="@(() => OpenInstancePanelAsync(null))"
                   />
        
    
    <FluentNavLink Href="@NavHelper.BuildUrl("test", Guid.NewGuid().ToString())">Test button</FluentNavLink>
    
</FluentStack>
    

<FluentDivider Style="margin: 16px 0;" />

<DataLoader TResponse="List<ProjectInstanceDto>"
            Query="new GetAllProjectInstancesQuery()"
            CacheKey="all_project_instances"
            RefreshToken="@_refreshToken"
            OnDataFetched="HandleDataFetched">
    <LoadingContent>
        <FluentProgressRing />
        <p>Loading instances...</p>
    </LoadingContent>
    <ErrorContent Context="errorMessage">
        <FluentMessageBar Intent="MessageIntent.Error">
            @errorMessage
        </FluentMessageBar>
    </ErrorContent>
    <ChildContent Context="instances">
        @if (!Items.Any())
        {
            <FluentMessageBar Intent="MessageIntent.Info">
                No instances found.
            </FluentMessageBar>
        }
        else
        {
            <FluentTreeView Items="Items" SelectedItemChanged="SelectedItemChanged" SelectedItem="SelectedItem" />
        }
    </ChildContent>
</DataLoader>