@page "/instances"

<h3>Project Instances</h3>

@if (IsLoading)
{
    <FluentProgressRing />
    <p>Loading instances...</p>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <FluentMessageBar Intent="MessageIntent.Error">
        @ErrorMessage
    </FluentMessageBar>
}
else if (!Items.Any())
{
    <FluentMessageBar Intent="MessageIntent.Info">
        No instances found.
    </FluentMessageBar>
}
else
{
    <FluentTreeView Items="Items" SelectedItemChanged="SelectedItemChanged" SelectedItem="SelectedItem" />
}